
.Carousel{
    margin-top: 7%;
    height: 100%;
    width: 100%;
    align-content: center;
}
.car1{
    color: white;
    margin-top: 10%;
    margin-left: 7%;
}
.car1 h6{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
}
.car1 h8{
    font-family: serif;
    font-size: 15px;
}
.car2{
    color: green;
    margin-top: 10%;
    margin-left: 7%;
}
.car2 h6{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
}
.car2 h8{
    font-family: serif;
    font-size: 15px;
}
.card04{
    margin-top: 30%;
    text-align: center;
}
.card04 p{
    font-family: sans-serif;
    font-size: 15px;
}
.card04 h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}
.card05{
    text-align: center;
}
.card05 h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}

.card05 button{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 60%;
}
.card05 p{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5%;
}

.card07{
text-align: center;
margin-top: 70%;
}
.card10{
    height: 12px;
    margin-top: 43%;
    background-color: green;
}
.shero01{
    color: antiquewhite;    
    margin-top: 9%;
}
.shero01 h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
}
.shero01 p{
    font-family: sans-serif;
    font-size: 15px;
}
.shero02{
    color: antiquewhite;    
    margin-top: 9%;
}
.shero02 h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
}
.shero02 p{
    font-family: sans-serif;
    font-size: 15px;
}
.card11{
    background-color: rgb(48, 219, 219);
    text-align: center;
}
.card11 h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 10%;
}
.card11 h6{
    font-family: sans-serif;
    font-weight: normal;
}
.shero03{
    color: purple; 
}
.shero03 h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
}
.shero03 p{
    font-family: sans-serif;
    font-size: 15px;
}
.footer{
    overflow-wrap: 10%;
}
.fleft{
    background-color: #8bcd32;
    text-decoration: none;
    color: white;
}
.fleft h5{
    color: white;
    font-size:17 ;

}
.fleft a{
    color: green;
    font-size: 13px;
}
.fright{
    background-color: blueviolet;
    text-decoration: none;
    text-align: center;
}
.fright2{
    text-align: center;
    color: ivory;
    width: 95%;
    margin-top: 30%;
}
.fright2 p {
    color: black;

}