.mega-menu{
    width: 800px;
    overflow: hidden; 
    padding: 25px   
}
.Navbar{
    background-color: rgba(161, 157, 157, 0.425);
    height: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.logo{
    margin-top: 25px;
    margin-left: 10%;
}
.ml-auto{
    margin-right: 10%;
}